{% extends '@main/base.html.twig' %}

{% block title %}View post : {{ post.content|slice(0, 24) }}...{% endblock %}

{% block bradCrumbs %}<span class="text-2xl">&rarr;</span> View post {% endblock %}

{% block body %}
    <div class="flex items-center mb-4">
        <div>
            <a href="{{ path('app_profile_view', {id: post.author.id.toRfc4122}) }}">
                {{ include('@shared/_avatar.html.twig', {profile: post.author.userProfile, width: 20, height: 20}) }}
            </a>
        </div>
        <div class="ml-4">
            <div class="text-xl"> {{ post.author.userProfile.name|default(post.author.email|mask_email) }}</div>
            <div class="text-sm mt-4 text-gray-500 dark:text-gray-400">
                <a href="{{ path('app_profile_view', {id: post.author.id.toRfc4122}) }}"
                   class="underline underline-offset-4"
                >View profile</a>
            </div>
        </div>
    </div>
    <div>{{ include('@mp/include/_post.html.twig', {post}) }}</div>

    <div class="grid grid-flow-col auto-cols-max gap-4 items-center mt-4 place-content-start">
        {% set postUuid = post.id.toRfc4122 %}

        {% embed '@shared/_paginator.html.twig'  with { paginator: paginatorComments, postUuid } only %}
            {% block paginatorName %} Comments (total items {{ paginator.totalItems }}) {% endblock %}

            {% block first %}{{ path('app_micro_post_view', {page: 1, id: postUuid}) }}{% endblock %}

            {% block previous %}{{ path('app_micro_post_view', {page: (paginator.page-1), id: postUuid}) }}{% endblock %}

            {% block next %}{{ path('app_micro_post_view', {page: (paginator.page+1), id: postUuid}) }}{% endblock %}

            {% block last %}{{ path('app_micro_post_view', {page: paginator.totalPages, id: postUuid}) }}{% endblock %}
        {% endembed %}
    </div>

    <div class="mt-4">
        {% for comment in paginatorComments.iterator %}
            <div>
                <div class="flex items-center">
                    <div class="mr-2">
                        <a href="{{ path('app_profile_view', {id: comment.author.id.toRfc4122}) }}">
                            {{ include('@shared/_avatar.html.twig', {profile: comment.author.userProfile, width: 8, height: 8}) }}
                        </a>
                    </div>
                    <div>
                        <div class="font-medium text-gray-800 dark:text-gray-300">
                            Author: <a
                                    class="underline underline-offset-4 hover:text-indigo-500 dark:hover:text-indigo-300"
                                    href="{{ path('app_profile_view', {id: comment.author.id.toRfc4122}) }}">{{ comment.author.userProfile.name|default(post.author.email|mask_email) }}</a>
                        </div>
                        <div class="font-light text-gray-500 dark:text-gray-500">
                            When: {{ comment.id.datetime|date }}</div>
                    </div>
                </div>
                <div class="flex ml-4">
                    <div class="pl-6 pb-6 border-gray-300 dark:border-gray-600 {% if loop.last == false %}border-l-2{% endif %}">{{ comment.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="grid grid-flow-col auto-cols-max gap-4 items-center mt-4 place-content-end">
        {% set postUuid = post.id.toRfc4122 %}

        {% embed '@shared/_paginator.html.twig'  with { paginator: paginatorComments, postUuid } only %}
            {% block first %}{{ path('app_micro_post_view', {page: 1, id: postUuid}) }}{% endblock %}

            {% block previous %}{{ path('app_micro_post_view', {page: (paginator.page-1), id: postUuid}) }}{% endblock %}

            {% block next %}{{ path('app_micro_post_view', {page: (paginator.page+1), id: postUuid}) }}{% endblock %}

            {% block last %}{{ path('app_micro_post_view', {page: paginator.totalPages, id: postUuid}) }}{% endblock %}
        {% endembed %}
    </div>
{% endblock %}
