{% extends '@main/base.html.twig' %}

{% block title %}View post : {{ post.content|slice(0, 24) }}...{% endblock %}

{% block bradCrumbs %}<span class="text-2xl">&rarr;</span> View post {% endblock %}

{% block body %}
    <div>
        {{ include('@mp/include/_post.html.twig', {post}) }}
    </div>

    <div class="mt-4">
        {% for comment in post.comments %}
            <div>
                <div class="flex items-center">
                    <div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl w-8 h-8 ring-2 right-white dark:ring-gray-600 mr-2"></div>
                    <div>
                        <div class="font-medium text-gray-800 dark:text-gray-300">
                            Author: {{ comment.author.userProfile.twitterUsername|default(post.author.email|mask_email) }}</div>
                        <div class="font-light text-gray-500 dark:text-gray-500">
                            When: {{ comment.id.datetime|date }}</div>
                    </div>
                </div>
                <div class="flex ml-4">
                    <div class="border-l-2 pl-6 pb-6 border-gray-300 dark:border-gray-600">{{ comment.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
