{% use 'tailwind_2_layout.html.twig' %}

{%- block submit_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2'))|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget -%}

{%- block form_errors -%}
    {% if errors|length > 0 %}
        <div class="{{ 'pb-2 text-red-700 dark:text-red-300' }} {{ error_item_class|default('') }}">
            {% for error in errors %}
                <div>{{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{%- endblock -%}


{%- block form_help -%}
    {%- set help_attr = help_attr|merge({class: (attr.class|default('mt-1 text-sm dark:text-gray-400'))|trim}) -%}
    {{- parent() -}}
{%- endblock -%}
