<div class="border p-4 rounded-lg border-slate-800 dark:border-slate-200">
    @{{ post.author.email }} at {{ post.id.dateTime|date }}

    <div>
        {{ post.content }}
    </div>

    <div class="pt-5">
        <div class="mb-5">
            <a class="flex-auto border border-slate-800 rounded bg-slate-200 p-2 text-center dark:bg-gray-700" href="#">
                Like <span class="px-2 rounded-md border border-slate-400 bg-gray-200 dark:bg-gray-500">1</span>
            </a>
        </div>
        <div class="flex">
            <a class="flex-auto text-sm border border-slate-800 rounded bg-slate-200 p-2 text-center dark:bg-gray-700"
               href="{{ url('app_micro_post_edit', {id: post.id.toRfc4122}) }}">edit</a>
            <span class="flex-none w-2"> </span>
            <a class="flex-auto text-sm border border-slate-800 rounded bg-slate-200 p-2 text-center dark:bg-gray-700"
               href="{{ url('app_micro_post_view', {id: post.id.toRfc4122}) }}">
                read comments
                <span class="flex-auto text-sm px-2 rounded-md border border-slate-400 bg-gray-200 dark:bg-gray-500">{{ post.comments.count }}</span>
            </a>
            <span class="flex-none w-2"> </span>
            <a class="flex-auto text-sm border border-slate-800 rounded bg-slate-200 p-2 text-center dark:bg-gray-700"
               href="{{ url('app_comment_add', {id: post.id.toRfc4122}) }}">add comment</a>
        </div>
    </div>
</div>
