{% extends '@main/base.html.twig' %}

{% block title %}{{ user.userProfile.name|default(user.email|mask_email) }} follow | {{ parent() }}{% endblock %}

{% block bradCrumbs %}
    <span class="text-2xl">&rarr;</span> User profile
    <span class="text-2xl">&rarr;</span> Following
{% endblock %}

{% block body %}
    {{ include('@main/profile_view/_profile_header.html.twig') }}
    {{ include('@main/profile_view/_profile_tabs.html.twig', {totalPosts: user.microPosts.count}) }}
    {{ include('@main/shared/_follow.html.twig', {users: user.following}) }}
{% endblock %}
