{% extends '@main/base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block bradCrumbs %}<span class="text-2xl">&rarr;</span> Registration {% endblock %}

{% block body %}
    <div class="text-xl">
        Basic information
    </div>
    <div class="text-gray-500 mb-4 pb-4 border-b border-gray300">
        Enter your credential
    </div>
    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_label(registrationForm.email, 'Your email address', {'label_attr': {'class': 'block text-gray-700 dark:text-gray-300 font-medium'}}) }}
    {{ form_errors(registrationForm.email) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}

    <div class="grid grid-col-1 md:grid-cols-2 gap-4">
        <div>
            {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'block text-gray-700 dark:text-gray-300 font-medium'}}) }}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
        <div>
            {{ form_label(registrationForm.plainPassword.second, 'Repeat password', {'label_attr': {'class': 'block text-gray-700 dark:text-gray-300 font-medium'}}) }}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
    </div>

    <div class="flex items-center mt-4 mb-4">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h4 w4 rounded border-gray border text-indigo-300 mr-2'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'Agree terms', {'label_attr': {'class': 'text-md font-medium text-gray-700 dark:text-gray-300 font-mdedium'}}) }}
    </div>

    <div class="border-b border-gray-300 mb-4"></div>

    <div class="text-xl">
        Your profile
    </div>
    <div class="text-gray-500 mb-4 pb-4 border-b border-gray300">
        Enter more (optional) details about yourself. You can do it later.
    </div>
    {{ include('@main/user_profile/_form.html.twig', {'form': registrationForm.userProfile}) }}
    {{ form_end(registrationForm) }}
{% endblock %}
