{% extends '@main/base.html.twig' %}

{% block title %}Profile avatar | {{ parent() }}{% endblock %}

{% block bradCrumbs %}
    <span class="text-2xl">&rarr;</span> User profile
    <span class="text-2xl">&rarr;</span> Upload avatar
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const uploadFields = document.querySelector('[name="{{ form.avatar.vars.full_name }}"]');
            const avatarImg = document.querySelector('#profile-avatar img.avatar');

            if (uploadFields && avatarImg) {
                uploadFields.onchange = () => avatarImg.src = URL.createObjectURL(uploadFields.files[0]);
            }
        });
    </script>
{% endblock %}

{% block body %}
    {{ include('@main/user_profile/_user_profile_tabs.html.twig') }}
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-auto gap-4 items-center">
        <div id="profile-avatar">
            {{ include('@shared/_avatar.html.twig', { profile: user.userProfile, width: 60, height: 60 }) }}
        </div>
        <div>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_label(form.avatar, null, {'label_attr': {'class': 'truncate shadow-sm border-gray-300 hover:bg-gray-200 dark:border-gray-100 dark:text-gray-100 dark:hover:bg-gray-600 rounded-md border p-2 mt-1 mb-2 cursor-pointer' }}) }}
            {{ form_widget(form.avatar, {'attr': {'class': 'hidden' }}) }}
            {{ form_errors(form.avatar, {'error_item_class': 'pt-4'}) }}
            {{ form_help(form.avatar, {'attr': {'class': 'pt-4'}}) }}
            <button type="submit"
                    class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
                Save image
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
